.task-list {
  display: grid;
  grid-gap: 10px;
}

.task-card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.task-details {
  display: flex;
  align-items: center;
}

.task-title {
  margin-left: 10px;
}

.btn-details,
.btn-delete {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-delete {
  background-color: #dc3545;
  margin-left: 10px;
}

.task-expand {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  transition: 0.3s ease; /* Adjust the duration and easing function as needed */
}

.search-input {
  margin-bottom: 20px;
  width: 300px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.search-input:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 2px #66afe9;
}

.empty-message {
  font-size: 16px;
  color: #888;
}
