<input
  type="text"
  class="search-input"
  placeholder="Search..."
  [(ngModel)]="search"
  (ngModelChange)="search.set($event)"
/>
@if(filteredTasks().length){
<div class="task-list">
  @if(hasCheckedTasks){
  <div class="task-card">
    <div class="task-details">
      <div class="task-title">Bulk Actions:</div>
    </div>
    <div>
      <button class="btn-details">Done</button>
      <button class="btn-delete" (click)="handleRemoveSelectedTasks()">
        Remove
      </button>
    </div>
  </div>
  } @for (task of filteredTasks(); track task) {
  <div class="task-card">
    <div class="task-details">
      <input type="checkbox" [(ngModel)]="task.isSelected" />
      <div class="task-title">{{ task.title }}</div>
    </div>
    <div>
      <button class="btn-details" (click)="toggleDetails(task)">Detail</button>
      <button class="btn-delete" (click)="handleRemoveTask(task)">
        Remove
      </button>
    </div>
  </div>
  @if(task.showDetails){
  <div class="task-expand">
    <!-- Display task details here -->
    @defer (){
    <app-task-form
      [initialFormValues]="task"
      (formSubmitted)="handleFormSubmitted($event)"
    ></app-task-form>
    }
  </div>
  } }
</div>
} @else {
<div class="empty-message">No tasks found.</div>
}
