.flex-container {
  display: flex;
  flex-wrap: wrap;
}
/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
    gap: 50px;
  }
}

.flex-item-left {
  flex: 1;
  background-color: #f1f1f1;
  padding: 1rem;
}

.flex-item-right {
  flex: 1;
  background-color: white;
  padding: 1rem;
}
